footer {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;
  max-width: 60%;
}

.card-body {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  width: auto;
  color: #006ec5;
  border: 4px groove #1ab2a8;
}

.city-and-time {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 10px;
  text-align: right;
  list-style-type: none;
}

.city {
  font-weight: large;
  font-weight: bold;
  font-size: 40px;
}

.day-icon {
  margin: 46% auto 30%;
  font-size: 80px;
}

.fas {
  color: #83a4bd;
  font-size: 80px;
  display: block;
  text-align: center;
}

.fa-map-pin {
  color: #1ab2a8;
  font-size: 25px;
}

.forecast-day {
  font-size: 25px;
}

.middle-border {
  border-right: 5px double #1ab2a8;
}

.precipitation-and-wind {
  text-decoration: none;
  font-size: 18px;
  /* font-weight: bold; make this part of js */
  text-align: left;
  list-style: none;
  margin-left: 15px;
  margin-top: 20px;
  padding: 0;
}

.row-2 {
  border-bottom: 5px double #1ab2a8;
}

.search-bar {
  border-width: 2px;
  border-color: #1ab2a8;
}
.search-button {
  background-color: white;
  border-color: #1ab2a8;
  padding: 5px 30px;
}

.style-border {
  border-top: 3px solid #1ab2a8;
  display: block;
  text-align: center;
}

.stats-divider {
  border-right: 5px solid #1ab2a8;
  margin: 0;
  padding: 0;
}

.Temp-today {
  margin-top: 25%;
  margin-left: 20%;
  font-size: 28px;
  text-align: center;
  line-height: 0;
  font-weight: 800;
}

.Time-block {
  margin-bottom: 0;
}

.Today {
  font-weight: 800;
  line-height: 1em;
  margin: 0 auto;
}

.Today-col {
  border-right: 5px double #1ab2a8;
}

.todayTemp {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.units {
  font-size: small;
  padding: 0;
  position: relative;
  bottom: 10px;
}

.wind {
  margin: 0;
}

.today-icon {
  margin: 20% auto;
}
