footer {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

section {
  display: inline-flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-success {
  padding: 6% 30%;
}

.nowForecast {
  display: inline;
}

.units {
  bottom: 10px;
  font-size: small;
  padding: 0;
  position: relative;
}

.units:hover {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  font-size: 15px;
  font-weight: bold;
}

.active:hover {
  cursor: default;
}

.inactive {
  color: #006ec5;
}

.inactive:hover {
  cursor: pointer;
}

.container {
  margin: 80px auto;
  max-width: 60%;
}

.card-body {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  width: auto;
  color: #006ec5;
  border: 4px groove #1ab2a8;
}

.city-and-time {
  font-size: 18px;
  margin-top: 2%;
  margin-right: 5%;
  text-align: right;
  list-style-type: none;
}

.city {
  font-weight: large;
  font-weight: bold;
  font-size: 40px;
}

.currentInfoSection {
  padding-left: 0;
  width: 30%;
}

.day-icon {
  margin: 46% auto 30%;
  font-size: 80px;
}

.fa-search-location {
  text-align: center;
  color: white;
  font-size: 22px;
}

.forecast {
  margin: 30% 25%;
}
.forecast-day {
  font-size: 20px;
  margin: 0 20%;
}

.forecastTemp {
  text-align: center;
  font-weight: bold;
}

.forecastLow {
  color: #1ab2a8;
  opacity: 40%;
}

.forecastDescription {
  display: block;
  text-align: center;
}

.forecastSection {
  width: 70%;
}

.forecastTitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.middle-border {
  border-right: 5px double #1ab2a8;
}

.precipitation-and-wind {
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  list-style: none;
  margin-left: 2%;
  margin-top: 10%;
  padding: 0;
}

.row-2 {
  border-bottom: 5px solid #1ab2a8;
}

.search-bar {
  border-color: #1ab2a8;
  border-width: 2px;
}

.search-button {
  background-color: white;
  border-color: #1ab2a8;
  padding: 6% 30%;
}

.style-border {
  border-top: 3px solid #1ab2a8;
  display: block;
  text-align: center;
}

.style-border-current {
  border-right: 3px solid #1ab2a8;
  display: block;
  text-align: center;
}

.stats-divider {
  border-right: 5px solid #1ab2a8;
  margin: 0;
  padding: 0;
}

.Temp-today {
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  line-height: 0;
  margin-left: 20%;
  margin-top: 25%;
}

.Time-block {
  margin-bottom: 0;
}

.Now {
  font-weight: 800;
  line-height: 1em;
  margin: 15% auto 0;
}

.Today-col {
  border-right: 5px double #1ab2a8;
}

.today-icon {
  margin: 20% auto;
}

.todayTemp {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 25%;
}

.wind {
  margin: 0;
}

.weatherDescription {
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
